{% extends 'generic/list.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'js/list.js' %}"></script>

    <script src="{% static  'lib/DataTables-1.13.5/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/DataTables-1.13.5/js/dataTables.bootstrap5.min.js' %}"></script>


    <!-- Style for lists -->
    <link rel="stylesheet" href="{% static 'lib/DataTables-1.13.5/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/DataTables-1.13.5/css/dataTables.bootstrap5.min.css' %}">
{% endblock %}

{% block column %}
    <tr>
        <th scope="col" style="width: 10%;">Nro</th>
        <th scope="col" style="width: 15%;">Nombres</th>
        <th scope="col" style="width: 15%;">Apellidos</th>
        <th scope="col" style="width: 10%;">Ci</th>
        <th scope="col" style="width: 15%;">Fecha de nacimiento</th>
        <th scope="col" style="width: 15%;">Sexo</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}

{% block row %}

{% endblock %}

{% block buttons %}
    <a class="btn btn-primary btn-flat btnAdd" style="color: white;">
        <i class="fas fa-plus"></i> Nuevo registro
    </a>
    <a href="{{ list_url }}" class="btn btn-success btn-flat">
        <i class="fas fa-sync"></i> Actualizar
    </a>
{% endblock %}

{% block javascript %}
    <!-- Modal -->
    <div class="modal fade" id="myModalClient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form method="post" action="." enctype="multipart/form-data">
            <input type="hidden" name="action" id="action" value="{{ action }}">
            <input type="hidden" name="id" id="action" value="0">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                        <input name="action" type="hidden" value="add">
                            {% for visible_field in form.visible_fields %}
                                <div class="form-group">
                                    <input name="action" type="hidden" value="add">
                                    <label for="{{ visible_field.label }}"
                                           class="form-label">{{ visible_field.label }}</label>
                                           class="form-label">{{ visible_field.label }}</label>
                                    {{ visible_field }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
{% endblock %}