{% extends 'generic/list.html' %}
{% block column %}
    <tr>
        <th scope="col">Nro.</th>
        <th scope="col">Nombre</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block row %}
    {% for cat in object_list %}
        <tr>
            <td>{{ cat.id }}</td>
            <td>{{ cat.name }}</td>
            <td>
                <a href="{%  url 'category:category_update' cat.id %}" class="btn btn-warning">
                    <i class="fa-solid fa-file"></i>
                    Update
                </a>
                 <a href="{%  url 'category:category_delete' cat.id %}" class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i>
                    Delete
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block buttons %}
    <a href="{% url 'category:category_create' %}">
        <button class="btn btn-primary " id="btnTest">
            <i class="fa-solid fa-plus"></i>
            Create category
        </button>
    </a>
{% endblock %}
